/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    position: relative;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
}
.navbar .logo img {
    height: 50px;
}

.navbar .login-btn {
    background-color: #690c11;
    color: white;
    border: none;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 1rem;
}

.navbar .login-btn:hover {
    background-color: #52090d;
}

/* Hero Section */
.hero {
    background: url('https://source.unsplash.com/1600x900/?chinese,food') no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 0 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-content .explore-btn {
    background-color: #690c11;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.hero-content .explore-btn:hover {
    background-color: #52090d;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
/* Responsive Design */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content .explore-btn {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
    }
}
